{% extends "layout.html" %}

{% block pageTitle %}
    Enter code - {{serviceName}}
{% endblock %}

{% block content %}
    <form action="dashboard" method="post">
        {{ govukFieldset({
            legend: {
                html: "We've sent you a text message",
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
            }
        })}}

        <p>It contains a code and should arrive in a few minutes.</p>
        <p>We sent it to a number ending 0000.</p>

        {{ govukInput({
            label: {
                text: "Code"
            },
            id: "signin-code",
            name: "signin-code",
            classes: "govuk-!-width-one-half"
        }) }}

        {{ govukButton({
            text: "Continue"
        }) }}

        <p><a href="resend" class="govuk-link">I didn't receive a code</a></p>


        {{ govukDetails({
            summaryText: "This isn't the right phone number",
            text: "lorem ipsum dolor sit amet, consectetur adepiscing"
        }) }}
    </form>
{% endblock %}
