{% extends "layout.html" %}

{% block pageTitle %}
    Complete your information
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="dob" method="post">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">Complete your information</h1>
                    </legend>

                    <p class="govuk-body">
                        Before we can get your benefits information we need to know a few details about you.
                    </p>

                    {{ govukInput({
                        label: {
                            text: "First name"
                        },
                        id: "first-name",
                        name: "first-name",
                        classes: "govuk-!-width-three-quarters"
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Last name"
                        },
                        id: "last-name",
                        name: "last-name",
                        classes: "govuk-!-width-three-quarters"
                    }) }}

                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
