{% extends "layout.html" %}

{% block pageTitle %}
    Sign in - {{serviceName}}
{% endblock %}

{% block content %}
    <form action="signin-code" method="post">
        {{ govukFieldset({
            legend: {
                html: 'Send me another text message',
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
            }
        })}}

        <p>The text message will contain a new code.</p>
        <p>If your previous text arrives later, the code in it won’t work.</p>
        <p><a href="signin-code" class="govuk-button">Send new text message</a></p>
    </form>
{% endblock %}
